textarea{
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  color: var(--white);
  height: 100%;
  padding: 1rem;
  margin-bottom: 2.5rem;
  outline: none;
  background-color: transparent;
  resize: none;
  border: 1px solid var(--gray);
}