@media (min-width: 0px) {
  .execution__input {
    background-color: transparent;
    border: none;
    border-bottom: var(--blue) 2px solid;
    font-size: 1.8rem;
    padding: 1rem;
    width: 100%;
    height: 3rem;
    outline: none;
    color: var(--blue);
  }
}

@media (min-width: 800px) {
  .execution__input {
    width: 90%;
  }
}