@media (min-width: 0px) {
  .response__execution {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-bottom: 3rem;
  }
}

@media (min-width: 800px) {
  .response__execution {
    width: 40%;
  }
}