@media (min-width: 0px) {
  .response__area {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    box-shadow: 4px 4px 25px var(--shadow);
    border-radius: 5px;
    padding: 3rem;
    font-size: 1.6rem;
  }
}

@media (min-width: 800px) {
  .response__area {
    width: 70%;
  }
}