@media (min-width: 0px) {
  .focus__title {
    font-size: 2.4rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  .details__description {
    font-size: 1.3rem;
    line-height: 2;
  }
}

@media (min-width: 650px) {
  .focus__title {
    font-size: 2.4rem;
    text-align: left;
  }

  .details__description {
    font-size: 1.3rem;
  }
}

@media (min-width: 970px) {
  .focus__title {
    font-size: 5.5rem;
  }

  .details__description {
    font-size: 1.5rem;
  }
}


@media (min-width: 1140px) {
  .focus__title {
    font-size: 6.4rem;
  }

  .details__description {
    font-size: 2.1rem;
    line-height: 2;
  }
}