@media screen and (min-width: 0px) {
  .focus__image {
    display: none;
  }
}

@media (min-width: 700px) {
  .focus__image {
    display: block;
    width: 350px;
  }
}

@media (min-width: 800px) {
  .focus__image {
    width: 450px;
  }
}

@media (min-width: 900px) {
  .focus__image {
    min-width: 50%;
  }
}