@import url('../fonts/fonts.css');

:root {
  --bg: #F5F5F5;
  --black: #1e2019;
  --blue: #282933;
  --blue-light: #2998b7;
  --gray: #9e9d9d;
  --green: #396950;
  --orange: #AB582E;
  --pink-dark: #5B0A1F;
  --red: #851E07;
  --white: #ffffff;
  --yellow: #Fac05e;
  --yellow-dark: #A88127;
  --bg-card-dark: linear-gradient(to bottom, rgba(255, 255, 255, .1), rgba(0, 0, 0, .1));
  --bg-card-light: linear-gradient(to top, rgba(255, 255, 255, .7), rgba(204, 204, 204, .2));
  --shadow: rgba(0, 0, 0, .2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg);
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
}

h1,
h2,
h3,
th {
  font-family: 'PoppinsBold', sans-serif;
}

/* HEADER */
header {
  background: #fdfdfd;
  display: flex;
  padding: 1rem 6rem;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header__image {
  width: 23px;
}

.menu__list {
  display: flex;
}

.menu__link {
  font-size: 1.2rem;
  color: var(--black);
  padding: 2rem;
  border-radius: 16px 8px 16px 8px;

  transition: .2s;
}

.menu__link:hover {
  color: var(--gray);
}

/* MAIN */
.main {
  display: flex;
  flex-direction: column;
}

/* FOOTER */
footer {
  background-color: var(--black);
  padding: 1.5rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__text {
  color: var(--white);
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
}

.cabecalho__ifal{
  color: var(--white);
  font-size: .7rem;
}

.networks {
  display: flex;
}

.network__link {
  margin-right: 1.2rem;
}

.social__network {
  width: 2rem;
}

.social__network:last-child {
  margin-right: 0;
}

/* Question */
.request,
.response {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10rem 6rem;
}

.request {
  margin-bottom: 4.5rem;
}

.description {
  background-color: var(--blue);
  padding: 4rem;
  line-height: 2;
  border: none;
  width: 650px;
  height: 300px;
  box-shadow: var(--black) 70px 60px;
  filter: drop-shadow(0px 0px 10px var(--shadow));

  transition: all .2s;
}

.description h1 {
  font-size: 2.4rem;
  color: var(--white);
}

.description p {
  font-size: 1rem;
  word-wrap: break-word;
  color: var(--white);
}

.creator{
  display: flex;
  flex-direction: column;
}
.creator h2{
  margin-bottom: .75rem;
}

.atribute {
  width: 17rem;
  height: 2rem;
  display: flex;
  align-items: center;
  background-color: var(--blue);
  padding: 3rem 1rem;
  border-radius: 5px;
  margin-right: 5rem;
  box-shadow: 2.5px 2.5px 45px var(--shadow);
  transition: all .2s;
}

.atribute__image {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.description:hover,
.atribute:hover {
  transform: translate(0, -10px);
}

.infos {
  margin-left: 1rem;
  color: var(--white);
  line-height: 2;
}

.infos__name {
  font-weight: 800;
  font-size: 1rem;
}

.infos__network {
  font-size: .7rem;
  color: var(--gray);
}

.solution {
  display: flex;
  background-color: var(--blue);
  padding: 9rem 6rem;
  align-items: center;
}

.iframe {
  width: 50%;
  margin-right: 2rem;
}

iframe {
  border: none;
  border-radius: 5px;
  width: 100%;
  box-shadow: 5px 5px 60px var(--shadow);
}

.solution__description {
  width: 50%;
  color: var(--white);
  font-size: 1.3rem;
  line-height: 2;
}

.response {
  align-items: flex-start;
  padding: 5rem 6rem;
}

.execution {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-top: 1rem;
}

.input {
  background-color: transparent;
  border-radius: 5px;
  border: var(--blue) 2px solid;
  font-size: 16px;
  padding: .4rem;
  width: 90%;
  height: 2.5rem;
  outline: none;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.save {
  margin-top: 1rem;
  border: none;
  border-radius: 5px;
  width: 50%;
  height: 2.5rem;
  color: var(--white);
  background-color: var(--blue);
  font-size: 1.3rem;
  cursor: pointer;
  transition: all .2s;
}

.save:hover {
  background-color: var(--blue);
  color: var(--white);
}

.area {
  width: 50%;
  height: 25rem;
  box-shadow: 4px 4px 25px var(--shadow);
  border-radius: 5px;
  padding: 2rem;
  font-size: 1.2rem;
}

.navigations {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 6rem;
}

.navigation {
  font-size: 1rem;
  padding: .7rem 1rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  transition: all .2s;
}

.return {
  color: var(--gray);
}

.return:hover {
  color: var(--black);
}

/* QUESTÃO 5 */

.q5 {
  display: flex;
  flex-direction: column;
}

.q5 .inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.q5 .inputs .input {
  width: 100%;
  height: 2.5rem;
  margin-bottom: .8rem;
}

.q5 .inputs .input:last-child {
  margin-right: 0;
}

.saveQuest5 {
  width: 100%;
}


/* SR-ONLY */
.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}