/*
-------Lista de Exercício --------
Curso: Informática
Disciplina: Programação Web I
Equipe: 7
Nome: Lavínia Leite da Silva
Matrícula: 2019322657
*/

.response__area{
  background-color: var(--blue);
}