@charset "utf-8";

.area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


table{
    text-align: center;
    border-collapse: collapse;
    font-size: 18px;
    width: 90%;
}


tr:nth-child(even) {
    background-color: var(--blue);
    color: var(--white);
}

th:nth-last-child(1), td:nth-last-child(1){
    border-left: 1px var(--black) solid;
}



/* RESPONSIVIDADE */

@media (max-width: 450px) {
    table{
        text-align: center;
        border-collapse: collapse;
        width: 90%;
    }

    th{
        font-size: 13px;
    }

    td{
        font-size: 12px;
    }
}