:root {
  --bg: #F5F5F5;
  --black: #1e2019;
  --blue: #282933;
  --blue-light: #154461;
  --gray: #808080;
  --green: #396950;
  --orange: #AB582E;
  --pink-dark: #5B0A1F;
  --red: #851E07;
  --white: #ffffff;
  --yellow: #Fac05e;
  --yellow-dark: #A88127;
  --bg-card-dark: linear-gradient(to bottom, rgba(255, 255, 255, .1), rgba(0, 0, 0, .1));
  --bg-card-light: linear-gradient(to top, rgba(255, 255, 255, .7), rgba(204, 204, 204, .2));
  --shadow: rgba(0, 0, 0, .2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg);
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
}

/* HEADER */
header {
  background: var(--white);
  display: flex;
  padding: 1rem 6rem;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
}

.header__image {
  width: 25px;
}

.menu__list {
  display: flex;
}

.menu__link {
  font-size: 1.2rem;
  color: var(--black);
  padding: 2rem;
  border-radius: 16px 8px 16px 8px;

  transition: .2s;
}

.menu__link:hover {
  color: var(--gray);
}

/* MAIN */
.main {
  display: flex;
  flex-direction: column;
}

/* FOOTER */
footer {
  background-color: var(--black);
  padding: 1.5rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__text {
  color: var(--white);
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
}

.networks {
  display: flex;
}

.network__link {
  margin-right: 1.2rem;
}

.social__network {
  width: 2rem;
}

.social__network:last-child {
  margin-right: 0;
}

/* Question */

header {
  position: static;
}

/* .request{
  margin-top: 4rem;
  background-color: var(--black);
} */

.response {
  background-color: var(--white);
}

.request,
.response {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10rem 6rem;
}

.description {
  background-color: var(--blue);
  padding: 4rem;
  line-height: 2;
  border: none;
  width: 650px;
  height: 300px;
  box-shadow: var(--black) 70px 60px;
  filter: drop-shadow(0px 0px 10px var(--shadow));

  transition: all .2s;
}

.description h1 {
  font-size: 2.4rem;
  color: var(--white);
}

.description p {
  font-size: 1rem;
  word-wrap: break-word;
  color: var(--white);
}

.description:hover {
  transform: translate(0, -10px);
}

.execution {
  display: flex;
  align-items: center;
  width: 35%;
}

.input {
  background-color: transparent;
  border-radius: 5px;
  border: var(--blue) 2px solid;
  font-size: 16px;
  padding: .4rem;
  width: 100%;
  height: 2.5rem;
  margin-right: 1rem;
  outline: none;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;

}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;

}

.save {
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 2.5rem;
  color: var(--white);
  background-color: var(--blue);
  font-size: 1.3rem;
  cursor: pointer;
  transition: all .2s;
}

.save:hover {
  background-color: var(--yellow);
  color: var(--black);
}

/* SR-ONLY */
.sr-only{
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}