@charset "UTF-8";

/* MAIN */

.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--bg);
    height: 31.55rem;
}

.description{
    background: var(--darkgreen);
    padding: 4rem;
    display: flex;
    align-content: space-around;
    justify-content: space-evenly;
    gap: 1.2rem;
    flex-direction: column;
    align-items: flex-start;
}

.description{ /*caixa*/
    width: 40rem;
    height: auto;
    margin-left: 4rem;
    margin-right: 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 1.5rem;
    box-shadow: var(--black) 128px 21px;
}

.description h1{
    font-size: 2.4rem;
    color: var(--white);
}

.description p{
    font-size: 1rem;
    word-wrap: break-word;
    color: var(--white);
}

.execution{
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 2rem;
    margin-right: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .execution .input{
    width: 25rem;
    height: 3rem;
    background-color: transparent;
    border-radius: 1rem;
    border: var(--darkgreen) 2px solid;
    margin-bottom: .5rem;
    font-size: 16px;
    padding-left: 1rem;
} */

.execution .inputs{
    display: flex;
    flex-direction: column;
    margin-bottom: .7rem;
}

.execution .save{
    width: 20rem;
    height: 3rem;
    color: var(--white);
    background-color: var(--darkgreen);
    border-radius: 1rem;
    margin-top: .5rem;
    border: transparent;
    font-size: 16px;
}
