.students {
  padding: 3rem 6rem;
}

.logs {
  display: flex;
  align-items: center;
  justify-content: center;
  border-collapse: collapse;
}

.log__title,
.log__name,
.log__matricula {
  text-align: center;
  font-size: 1.1rem;
  padding: 3rem;
  width: 100vw;
  font-weight: bold;
}

.log__title {
  font-size: 1.5rem;
}

.log__line:nth-child(even) {
  background-color: var(--black);
  color: var(--white);
}