.students {
  padding: 6rem;
  margin-top: 5rem;
}

.logs {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-collapse: collapse;
}

.log__title,
.log__name {
  text-align: center;
  font-size: 1rem;
  padding: 3rem;
  width: 100vw;
}

.log__title {
  font-size: 1.5rem;
}

.log__line:nth-child(even) {
  background-color: var(--black);
  color: var(--white);
}

.log__matricula {
  text-align: center;
  font-weight: bold;
}